.button {
  margin: 4px !important;
  color: white !important;
}

.account-name-and-button {
  float: right;
  color: white;
}

.dialog-close-button {
  background-color: #ccc;
  color: #fff;
  float: right;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 100%;
  box-shadow: 1px 1px 3px;
}

.feedback {
  textalign: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#empty-button {
  margin-left: 14px;
  margin-top: 20px;
}

.customBtn {
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 1px;
  border: none;
  box-shadow: 1px 1px 1px lightslategray;
  white-space: nowrap;
  float: right;
  margin-right: 5px;
  font-size: 14px;
  height: 35px;
}

.customBtn:hover {
  cursor: pointer;
}

.toggle-sidebar {
  background-color: #253264 !important;
  color: #fff;
  font-size: 0.8rem;
  margin-left: 10px;
}

.buttonRight {
  float: right;
}

.login-button {
  margin: 5px;
  padding: 5px;
  width: auto !important;
  background: #fff;
  border: 0;
  color: #253264;
  border-radius: 5px;
  cursor: pointer;
}

.appbar-button:hover {
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.appbar-button span {
  margin: 5px;
  padding: 0;
}

.appbar-button-text {
  text-transform: uppercase;
  line-height: 1.2rem;
  font-size: 0.8rem;
}
