.mandatory-chip,
.non-mandatory-chip,
.mandatory-chip-minimal,
.non-mandatory-chip-minimal {
  cursor: 'move';
}

.mandatory-chip,
.mandatory-chip-avatar,
.mandatory-chip-minimal,
.mandatory-chip-avatar-minimal {
  background-color: #97bcd7 !important;
}

.non-mandatory-chip,
.non-mandatory-chip-avatar,
.non-mandatory-chip-minimal,
.non-mandatory-chip-avatar-minimal {
  background-color: #aed3eb !important;
}

.mandatory-chip-avatar,
.non-mandatory-chip-avatar {
  height: 26px !important;
  width: 26px !important;
  color: #1a237e;
  margin: 4px;
}

.mandatory-chip-avatar-minimal > img,
.non-mandatory-chip-avatar-minimal > img {
  height: 21px !important;
  width: 21px !important;
  color: #1a237e;
  margin: 4px;
}

.previewChip {
  z-index: 999;
  opacity: 0.99;
}
