.drawer-root {
  flex-grow: 1;
  width: 500px;
  overflow: hidden;
}

.drawer-paper {
  height: 100vh;
}

/* Override fixed position */
.drawer-paper > div {
  position: relative;
  z-index: 0;
}

/* Override fixed position */
.visible-drawer {
  display: inline-flex;
  min-width: 30%;
}

.hidden-drawer {
  display: none;
}
