.event-list {
  list-style: none;
  padding-left: 0;
  min-width: 100%;
}

.event-card-wrapper {
  padding: 5px;
  margin-bottom: 10px;
}

.event-card-wrapper > div > div:first-child {
  padding-bottom: 0;
}

.event-card-wrapper > div > div:nth-child(2) {
  padding-top: 2px;
  padding-bottom: 4px;
}

.event-card-wrapper > div > div:last-child {
  padding-top: 0;
}
