.footerError {
  color: #f44336;
  background-color: #ffebee;
  border-top: 2px solid #f44336;
}

.footerSuccess {
  color: #4caf50;
  background-color: #e8f5e9;
  border-top: 2px solid #4caf50;
}

.footerError,
.footerSuccess {
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
}
