html,
body {
  font-family: PT Sans, Source Sans Pro Black, sans-serif;
}

/* Some were too hard or ugly to move. These are collected below. GLHF */

.tree-search-title {
  display: block;
  line-height: 28px;
  margin-top: -20px;
  padding: 3px;
  overflow: hidden;
  cursor: pointer;
  white-space: normal;
}

.tree-search-title:hover {
  background: #90caf9 !important;
}

.rc-tree-select-tree-treenode-disabled .tree-search-title {
  pointer-events: none;
}
