.tree-search-title {
  display: block;
  line-height: 28px;
  margin: 0 !important;
  margin-top: -20px !important;
  padding: 3px;
  cursor: pointer;
}

.tree-search-title:hover {
  background: #90caf9 !important;
}

.rc-tree-select-tree-treenode-disabled .tree-search-title {
  pointer-events: none;
}
