.status-box {
  width: 100%;
  margin: 10px 0 50px 14px;
  padding: 10px 0 10px 20px;
  font-size: 0.9rem;
  position: absolute;
  background-color: #d6e8f7 !important;
  box-shadow: none !important;
  border-radius: 2px !important;
}

.status-box .done {
  width: 15px;
  height: 15px;
  padding: 0;
  margin-right: 7px;
  color: #14a54b;
}

.status-box .small-done {
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 7px;
  color: #14a54b;
}

.status-box .clear {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 20px;
  margin-left: -10px;
  color: #253264;
  cursor: pointer;
}

.status-box .clear:hover,
.status-box .clear:focus {
  color: #f14150;
}
