html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Source Sans Pro Black, sans-serif;
}

App {
  padding-top: 20px;
}

.content {
  padding: 10px 10px 20px;
}

#title_image {
  height: 50px;
  margin: 10px 0px 10px;
}

ul.events {
  list-style-type: none;
}

p.eventTimes::first-letter {
  text-transform: uppercase;
}

p.eventTimes > span {
  font-family: Source Sans Pro Black, sans-serif;
  font-weight: bold;
}

.buttonRight {
  float: right;
}

#bufferzone {
  margin: 10px 0 5px;
  background-color: aliceblue;
  min-height: 50px;
  height: auto;
  border-radius: 8px;
}

.top-search {
  background: '#5DBCD2';
  padding: 20;
}

.activityTitle {
  display: block;
  max-width: 175px;
  word-wrap: break-all;
  white-space: normal;
  font-weight: bold;
  line-height: 20px;
  padding: 5px;
}

.bufferzone-activities {
  overflow: auto;
}

.pattern {
  background: radial-gradient(#6eff3f 15%, transparent 16%) 0 0,
    radial-gradient(#6eff3f 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: white;
  background-size: 16px 16px;
}

.event-form {
  max-width: 600px;
  margin: 0 auto;
}

.ReactStickyHeader_midground {
  height: auto !important;
}

.global--modal-content {
  transform: translate(0, 0) !important;
  position: absolute !important;
  top: 20px !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100vh !important;
}

@media (max-width: 600px) {
  .global--modal-content {
    width: 100% !important;
    transform: translate(0, 0) !important;
    position: absolute !important;
    top: 0 !important;
    height: 100vh !important;
  }

  .global--modal-body {
    padding: 10 !important;
    max-height: none !important;
  }

  .global--modal-paper {
    overflow: auto !important;
    height: 100vh !important;
  }
}

.dialog-close-button {
  background-color: #ccc;
  color: #fff;
  float: right;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 100%;
  box-shadow: 1px 1px 3px;
}
