html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Source Sans Pro Black, sans-serif;
}

App {
  padding-top: 20px;
}

.content {
  padding: 10px 10px 20px;
}

ul.events {
  list-style-type: none;
}

p.eventTimes::first-letter {
  text-transform: uppercase;
}

p.eventTimes > span {
  font-family: Source Sans Pro Black, sans-serif;
  font-weight: bold;
}

.buttonRight {
  float: right;
}

#bufferzone {
  margin: 10px 0 5px;
  min-height: 60px;
  height: auto;
  background-color: aliceblue;
  border-radius: 8px;
}

.top-search {
  background: '#5DBCD2';
  padding: 20;
}

.activityTitle {
  display: block;
  max-width: 175px;
  word-wrap: break-all;
  white-space: normal;
  font-weight: bold;
  line-height: 20px;
  padding: 5px;
}

.bufferzone-activities{
  z-index: -1;
  opacity: 0.99;
}

.footerError{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 15px;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  min-height: 40px;
  height: auto;
  width: 100%;
  max-width: 3000px;
  background-color: tomato;
}

.footerSuccess{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 15px;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  min-height:40px;
  height: auto;
  width: 100%;
  background-color: lightgreen;
}
.pattern {
  background:
  radial-gradient(#6eff3f 15%, transparent 16%) 0 0,
  radial-gradient(#6eff3f 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:white;
  background-size:16px 16px;
}

.previewChip {
  z-index: 999;
  opacity: 0.99;
}
