html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Source Sans Pro Black, sans-serif;
}

App {
  padding-top: 20px
}

.content {
  padding: 10px 10px 50px;
}

#title_image {
  height: 50px;
  margin: 10px 0px 10px;
}

ul.events {
  list-style-type: none;
}

p.eventTimes::first-letter {
  text-transform: uppercase;
}

p.eventTimes > span {
  font-family: Source Sans Pro Black, sans-serif;
  font-weight: bold
}

.buttonRight {
  float: right
}

#bufferzone {
  margin: 10px 0 5px;
  background-color: aliceblue;
  min-height: 50px;
  height: auto;
  border-radius: 8px;
}

.green {
  background-color: green
}

.yellow {
  background-color: yellow
}

.red {
  background-color: red
}

.top-search {
  background: '#5DBCD2';
  padding: 20 
}

.activityTitle {
  display: block;
  max-width: 175px;
  word-wrap: break-all;
  white-space:normal;
  font-weight: bold;
  line-height: 20px;
  padding: 5px;
}

.bufferzone-activities{
  overflow: auto;
}