.CalendarDay__selected_span {
  background: #28aae0;
  color: white;
  border: 1px solid #28aae0;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #243264;
  border: 1px double #243264;
  color: white;
}

.CalendarDay__selected {
  background: #28aae0;
  color: white;
  border: 1px solid #28aae0;
}

.PresetDateRangePicker_button {
  background: #28aae0;
  border: 2px solid #28aae0;
}

.CalendarDay__selected:hover,
.CalendarDay__selected:active {
  background: #243264;
  color: white;
  border: 1px solid #243264;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #d6e8f6;
  border: 1px solid #d6e8f6;
  color: #243264;
}

.PresetDateRangePicker_button__selected {
  color: white;
  background: #28aae0;
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  border-top: 26px solid transparent;
  border-right: 33px solid #28aae0;
  bottom: 0;
  right: 0;
}
.DayPickerKeyboardShortcuts_show__bottomRight:hover {
  border-right: 33px solid #243264;
}
.DayPickerKeyboardShortcuts_show__topRight {
  border-bottom: 26px solid transparent;
  border-right: 33px solid #28aae0;
  top: 0;
  right: 0;
}
.DayPickerKeyboardShortcuts_show__topRight:hover {
  border-right: 33px solid #243264;
}
.DayPickerKeyboardShortcuts_show__topLeft {
  border-bottom: 26px solid transparent;
  border-left: 33px solid #28aae0;
  top: 0;
  left: 0;
}
.DayPickerKeyboardShortcuts_show__topLeft:hover {
  border-left: 33px solid #243264;
}

.DateInput_input__focused {
  border-bottom: 2px solid #243264;
}
